@implements IDisposable


@using Cleo.Client.Services
@using Microsoft.AspNetCore.SignalR.Client
@using Cleo.Shared.Models
@inject ChatroomService chatroomService

@page "/room"
@rendermode InteractiveWebAssembly

<PageTitle>ChatRoom</PageTitle>

<div class="row">
    <div class="col-lg-7">
        <div class="card">
            <div class="class-header">
                CleoChat
            </div>
            <div class="card-body">
                <ul class="message-list">
                    @foreach (var msg in chatroomService.Messages)
                    {
                        <li class="mb-2">
                            @msg.DateTime <br />
                            @msg.User.Username <br />
                            @msg.Text <br />
                        </li>
                    }
                </ul>
                <div class="mt-3">
                    <EditForm Model="newMessage" OnValidSubmit="SendMessageOnClick">
                        <DataAnnotationsValidator />
                        <div class="vstack gap-1">
                            <InputText @bind-Value="newMessage.User.Username" class="form-control w-25 fw-bold" placeholder="Username"/>
                            <InputTextArea @bind-Value="newMessage.Text" class="form-control" placeholder="Message"/>
                        </div>
                        <button class="float-end btn btn-success mt-3" type="submit">Send</button>
                    </EditForm>
                </div>

            </div>
            <div class="card-footer fw-bold">
                @if(!chatroomService.IsConnected)
                {
                    <div class="alert alert-danger">Chat Disconnected</div>
                }
            </div>
        </div>
    </div>
</div>