@using Microsoft.AspNetCore.SignalR.Client
@using Cleo.Shared.Models
@inject NavigationManager NavManager

@page "/room"
@rendermode InteractiveWebAssembly

<PageTitle>ChatRoom</PageTitle>

<div class="row">
    <div class="col-lg-7">
        <div class="card">
            <div class="class-header">
                CleoChat
            </div>
            <div class="card-body">
                <ul class="message-list">
                    @foreach (var msg in messages)
                    {
                        <li class="mb-2">
                            @msg.DateTime <br />
                            @msg.User.Username <br />
                            @msg.Text <br />
                        </li>
                    }
                </ul>
                <div class="border-primary">
                    <div class="hstack gap-2 mb-4">
                        <input type="text" class="form-control w-25" @bind="username" />
                        <textarea class="form-control" @bind="message" />
                    </div>
                    <button class="btn btn-success" @onclick="Send">Send Message</button>
                </div>
            </div>
            <div class="card-footer">
                @if(!isConnected)
                {
                    <div class="alert alert-danger">Chat Disconnected</div>
                }
            </div>
        </div>
    </div>
</div>